.idea
venv
dist
out
__pycache__
.ipynb_notebooks

week_1/__pycache__
week_1/.ipynb_notebooks
week_1/cnn-models-step-by-step/__pycache__
week_1/cnn-models-step-by-step/.ipynb_notebooks

week_2/__pycache__
week_2/.ipynb_notebooks
week_2/keras-tutorial/__pycache__
week_2/keras-tutorial/.ipynb_notebooks
week_2/resnets/__pycache__
week_2/resnets/.ipynb_notebooks

week_3/__pycache__
week_3/.ipynb_notebooks
week_3/car-detection-autonomous-driving/__pycache__
week_3/car-detection-autonomous-driving/.ipynb_notebooks

week_4/__pycache__
week_4/.ipynb_notebooks
week_4/face-recognition/__pycache__
week_4/face-recognition/.ipynb_notebooks
week_4/neural-style-transfer/__pycache__
week_4/neural-style-transfer/.ipynb_notebooks
